<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Left</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
  <% @ticket_types.each do |ticket_type| %>
      <tr>
        <td><%= ticket_type.name %></td>
        <td><input type="number" min="0" value="0" /></td>
        <td>100</td>
        <td><%= ticket_type.price %> &euro;</td>
      </tr>
  <% end %>
  </tbody>
</table>