<div ng-app="myApp">
  <div ng-controller="TestController" style="width: 300px;">
    <div class="form-group" ng-repeat="choice in choices">
      <select ng-model="selected">
        <optgroup ng-repeat="table in seats" label="{{table.type}}">
          <option value="{{table.table}}">
            {{table.table}}
          </option>
        </optgroup>
      </select>
      <select>
        <optgroup ng-repeat="table in seats | filter:{table: 'A'}" label="{{table.table}}">
          <option ng-repeat="seat in seats" valuea="{{seat.id}}">
            {{seat.id}}
          </option>
        </optgroup>
      </select>
      <div class="input-group">
        <select class="form-control" id="sel1">
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
        </select>

        <span class="input-group-addon" id="basic-addon1">.</span>

        <select class="form-control" id="sel2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>

        <span class="input-group-btn">
            <button class="btn btn-danger" type="button" ng-click="removeField(choice); alert(choices.length)" ng-show="choices.length > 1">Poista</button>
            <button class="btn btn-primary" type="button" ng-click="addField();" ng-show="choices.indexOf(choice) == choices.length-1">Lisää</button>
        </span>
      </div>
    </div>
    <button class="btn btn-success" type="button">Varaa {{choices.length}} konepaikka(a)</button>
  </div>
</div>