<% if @orders.any? %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Created</th>
    <th>Tickets</th>
    <th>Price</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= l order.created_at, :format => :long %></td>
        <td><%= order.tickets.count %></td>
        <td><%= number_to_currency(order.total) %></td>
        <td>
          <% if order.paid %><span class="label label-success">paid</span>
          <% else %><span class="label label-danger">unpaid</span>
          <% end %></td>
        <td><%= link_to 'Show', customer_order_path(order), class: 'btn btn-primary' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
    <p>You have no orders yet.</p>
<% end %>