<%= render partial: "breadcrumb", locals: {current_page: "edit"} %>

<h1 class="page-header">Editing Customer <%= link_to @customer.firstname, admin_customer_path(@customer) %></h1>

<%= render 'edit_form' %>