<h1>Listing Orders for Customer</h1>

<table class="table">
  <thead>
  <tr>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>