<h1>Listing Seats for Customer</h1>

<table class="table">
  <thead>
  <tr>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>