<ol class="breadcrumb">
  <li><%= link_to "Seats", admin_seats_path %></li>
  <li><%= link_to "Seat #"+@seat.id.to_s, admin_seat_path(@seat) %></li>
  <li class="active">Edit</li>
</ol>

<h1 class="page-header">Editing Seat</h1>

<%= render 'edit_form' %>