<h1>Please log in or register</h1>
<div class="container-fluid">
  <section class="container">
    <div class="container-page">
        <%= render 'customers/form' %>
        <%= render 'customer/sessions/login_form' %>
    </div>
  </section>
</div>