<%= render 'checkout_steps' %>

<div class="container">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
<h1 class="page-header">Please log in or register</h1>

    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1default" data-toggle="tab"><strong>Register</strong></a></li>
          <li><a href="#tab2default" data-toggle="tab">Already have an account? <strong>Sign in</strong></a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1default">
            <%= render partial: 'customer/customers/form', locals: {redirect: "checkout"}  %>
          </div>
          <div class="tab-pane fade" id="tab2default">
            <%= render partial: 'customer/sessions/login_form', locals: {redirect: "checkout"} %>
          </div>
        </div>
    </div>
  </div>
</div>
</div>