<ol class="breadcrumb">
  <li><%= link_to "Ticket Types", admin_ticket_types_path %></li>
  <li class="active">New Ticket Type</li>
</ol>

<h1 class="page-header">New Ticket Type</h1>

<%= render 'form' %>