<li><%= link_to 'Seats', seats_path %></li>
<li><%= link_to 'Tickets', tickets_path %></li>
<li><%= link_to shopping_cart_path do %><span class="glyphicon glyphicon-shopping-cart"></span> Shopping cart <% if shopping_cart_count > 0 %><span class="badge"><%= shopping_cart_count %></span><% end %><% end %></li>